{% extends 'detalle.html' %}
{% load static %}

{% block contenido %}
<div class="container">
    <table class=" table table-bordered  shadow-lg p-3 mb-5 bg-body rounded">
        <thead>
            <tr class="text-center bg-secondary">
              <th colspan="2" style="width: 100%;" >EMPLEADO/A</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="row">
                    <div class="col"><h6>Nombre:</h6></div>
                    <div class="col"><p>Brigner</p></div>
                </div>
                <div class="row">
                    <div class="col"><h6>Cedula:</h6></div>
                    <div class="col"><p>0960285305</p></div>
                </div>
                <div class="row">
                    <div class="col"><h6>Correo:</h6></div>
                    <div class="col"><p>bcarrielr@unemi.edu.ec</p></div>
                </div>
              </td>
            </tr>
          </tbody>
          <thead>
            <tr class="text-center bg-secondary">
              <th colspan="2">DETALLES</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="4">
                <div class="container bg-light">
                  <div class="row">
                    <div class="col text-center">
                        <h6>Fecha del prestamo:</h6>
                    </div>
                    <div class="col text-center">
                        <p>22 julio 2022</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <h6>Motivo:</h6>
                    </div>
                    <div class="col text-center">
                        <p>Personal</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <h6>Plazo(Meses):</h6>
                    </div>
                    <div class="col text-center">
                        <p>10 (Meses)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <h6>Cuotas:</h6>
                    </div>
                    <div class="col text-center">
                        <p>1/10</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <h6>Taza de interes:</h6>
                    </div>
                    <div class="col text-center">
                        <p>10%</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <h6>Valor cuota mensual:</h6>
                    </div>
                    <div class="col text-center">
                        <p>$ 1.100</p>   
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <h6>Valor a recibir:</h6>
                    </div>
                    <div class="col text-center">
                        <p>$ 10.000</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <h6>Valor con intereses:</h6>
                    </div>
                    <div class="col text-center">
                        <p>$ 11.000</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <h6>Valor Insoluto:</h6>
                    </div>
                    <div class="col text-center">
                        <p>$ 10,900</p>
                    </div>
                </div>
              </div>
              </td>
            </tr>
          </tbody>
      </table>
</div>
{% endblock %}
